body {
  background-color: skyblue;
}

.buttons {
  display: none;
}

.tama {
  display: none;
  margin: 2%;
}

#errors {
  text-align: center;
  display: none;
}

img#tama {
  float: right;
  border-style: solid;
  border-radius: 15%;
  border-width: 10px;
  border-color: black;
  margin: 5%;
}

h1 {
  text-align: center;
}

button {
  margin: 2%;
}
